<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="StaticPrefixToRootFile" stopProcessing="true">
                    <match url="^static/(.*)$" />
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="RootToIndex" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                <rule name="ReverseProxyToUvicorn" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <!-- 仅当请求的物理路径不是已存在的文件时，才转发到后端 -->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <!-- 将请求转发到本机 Uvicorn 服务 -->
                    <action type="Rewrite" url="http://127.0.0.1:8086/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" />
            </authentication>
        </security>
    </system.webServer>
</configuration>
